body{
    background-color: rgb(63, 117, 117);
    background-size: cover;
    font-size: 25px;
}
h1{
	font-size: 40px;
	font-family: georgia;
	text-align: center;
	border-bottom: 2px solid rgb(58, 56, 56);
}
.button{
	width: 100%;
    overflow: auto;
}
.button ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}
.button ul li{
	float: left;
}
.button ul li a{
	color: beige;
    font-size: 30px;
border-right: 2px solid rgb(58, 56, 56) ;
display: block;
width: 100px;
text-decoration: none;
text-align: center;
margin-bottom: 30px;
}
.button ul li a:hover{
	background-color:rgb(63, 117, 117) ;
	opacity: 0.5px;
	font-size: 20px;
}
.list{
    border: 5px solid rgb(58, 56, 56) ;
    margin: 10px 0px 0px 5px;
    font-family: "Bookman Old Style";
}

