body{
	background-color: rgb(63, 117, 117);
}
.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
h1{
	font-size: 40px;
	font-family: georgia;
	text-align: center;
	border-bottom: 2px solid rgb(58, 56, 56);
	width: 100%;
}
.button{
	width: 100%;
    overflow: auto;
}
.button ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}
.button ul li{
	float: left;
}
.button ul li a{
	color: beige;
	font-size: 30px;
border-right: 2px solid rgb(58, 56, 56) ;
display: block;
width: 100px;
text-decoration: none;
text-align: center;
margin-bottom: 30px;
}
.button ul li a:hover{
	background-color:rgb(63, 117, 117) ;
	opacity: 0.5px;
	font-size: 20px;
}
img{
	width: 500px;
	height: 500px;
	margin: 30px;
	transition: all 1s;
	justify-content: center;
}
img:hover{
	transform: scale(1.1);
}
h2{
	font-size: 40px;
	font-style: italic;
	font-family: "Bookman Old Style";
    width: 200px;
	border-bottom: 2px solid rgb(58, 56, 56) ;
	border-right: 2px solid rgb(58, 56, 56);
	text-align: center;
	box-shadow: 4px 4px 5px rgb(51, 49, 49);
}
h2+img{
	margin: 0px 150px 20px 0px;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	float: right;
}
footer{
	clear: left;
	font-size: 20px;
}
marquee{
	font-size: 20px;
}